.container {
	width: 700px;
	margin: 100px auto;
}

.div {
  background-color: black;
  color: white;
}

@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}

.margin {
  border: 2px solid black;
  padding: 10px;
  background-color: #FFF9EC;
}

#apply-section {
  margin: 0px auto;
}
